<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite">
	<parameter name="validUser" value="standard_user" />
	<parameter name="validPass" value="secret_sauce" />
	<parameter name="invalidUser" value="standard_Invaliduser" />
	<parameter name="invalidPass" value="secret_Invalidpwd" />
	<test thread-count="5" name="LoginTests">
		<classes>
			<class name="com.testScripts.LoginTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->